@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply scroll-smooth antialiased;
		--background: hsl(0, 0%, 100%);
		--foreground: hsl(224, 71.4%, 4.1%);

		--border: hsl(220 13% 91%);

	}

	.dark {
		--background: hsl(224, 71.4%, 4.1%);
		--foreground: hsl(210, 20%, 98%);

		--border: hsl(215, 27.9%, 16.9%);

	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}