---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header
	class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/80"
>
	<nav
		class="container mx-auto flex justify-between p-4 hover:text-foreground/80"
	>
		<a href="/" class="text-xl font-bold">{SITE_TITLE}</a>
		<div class="flex items-center gap-4 lg:gap-6">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
