---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeToggler from "./ThemeToggler.astro";
---

<header
	class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur-xl"
>
	<nav class="container mx-auto flex justify-between p-4">
		<a href="/" class="text-xl font-bold hover:underline">{SITE_TITLE}</a>
		<div class="flex items-center gap-4 lg:gap-6">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<ThemeToggler />
	</nav>
</header>
