---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<section class="container mx-auto flex justify-center">
		<article class="prose prose-neutral lg:prose-lg dark:prose-invert">
			<h1>{title}</h1>
			<!-- <hr /> -->
			<slot />
		</article>
	</section>
</BaseLayout>
